body{
	font-family: 'Josefin Sans', sans-serif;
}
p{
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
}
label{
	font-family: 'Lato', sans-serif;
}
.logo{
	text-align: center;
}
.col-carousel{
	padding: 0px;
}

.input-group-addon{
	background-color: #DAA520;
	font-weight: bold;
	cursor:  pointer;
}

.button{
	background-color: #DAA520;
	float:right;
	font-weight: bold;
	cursor:  pointer;
}



.navbar{
  margin-bottom: 0;
  padding: 15px;
  border-radius: 0;
  border: 0;
  width:100%;
  z-index:10;
  max-width:100%;
}

.title{
	text-align: center;
	font-weight: bold;
}

.navbar-inverse .navbar-nav .item-menu{
	font-size: 1.3em;
	color: #fff;
	text-align:center;
}

.navbar-inverse .navbar-nav .item-menu:hover{
	color: #DAA520;
}

.img-treatment .img-responsive{
	margin: 0 auto;
}

.treatment{
	padding: 0px 10px 10px 10px;
	background-color: #eadfc2;

}

.img-cempercent{
	width: 100%;
}

.post{
	text-align: center;
}

.post-resume{
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}

.separator-margin{
	margin-bottom: 0px;
	color: #DAA520;
F
}

.separator-size{
	margin-bottom: 10px;
	width:210px;
	height:40px;
}

.footer{
	padding-top: 20px;
	background-color: #000;
	color: #fff;
}

.img-social-networks{
	width: 40px;
	height: 40px;
}

.social-networks{
	text-align: center;
	padding-top: 20px;
}

.clinic-information .caption{
	text-align: center;
	padding-left:10px;
}

.copyright{
	padding-top: 15px;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
}

/*PROFILE*/

.profile{
	padding: 20px 20px;
}

/*CONTACT*/
.contact{
	padding: 20px 20px;
}

.field-contact:focus{

border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-webkit-box-shadow: 0px 0px 15px 1px #DAA520;
-moz-box-shadow: 0px 0px 15px 1px #DAA520;
box-shadow: 0px 0px 5px 0px #DAA520;
border:1px solid #DAA520;
outline:none; 
}


/*CLINIC*/

#big-image{
	padding-top: 15px;
	padding-bottom: 15px;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
	margin-bottom: 32px;
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

#about-clinic{
	text-align: justify;

}

/*TREATMENT*/
.info{
	margin: 0px auto;
	text-align: center;
}

.info img{
	width: 600px;
	height: 300px;
}

.collapse{
	text-align: center;
}

.ajustaTexto{
	text-align: center;
	background-color:#eadfc2;
	font-size:1.3em;
  border: 1px solid #DAA520;
  font-family: 'Lato', sans-serif;

}
.treatment-img {
	width:100%;
}
.news-img{
	width:100%;
}

.link-treatment{
	text-decoration:none; 
	color: #000;
}

.link-treatment:hover{
	text-decoration:none; 
	color: #DAA520;
}
.saiba-mais{
	color:#000;
	font-weight: bold;

}

.saiba-mais:hover{
	color:#DAA520;
	text-decoration: none;
}

.ajusta{
	padding-left: 0px;
	width:100%;
}
	
.clicavel{
	cursor:  pointer; 
}
	
/*DETAILS NEW*/
.texto{
	text-align: justify;
}

.compartilhamento{
	padding-left: 60px;
	padding-bottom: 20px;
}

.embed-container  {
   position: relative;
   padding-bottom: 56.25%; /* 16:9 ratio */
   padding-top: 30px; /* solução para IE 6 */
   height: 0;
   overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

@media only screen and (max-width: 980px){
  #slider-thumbs { 
		display: none; 
	}
	
	#carousel-bounding-box{
		padding:0px;
	}
	
	.col-carousel{
		display: none; 
	}

	#treatment{
		padding-top: 80px;
	}

	.footer{
		margin-top: 15px; 
	}
}

@media only screen and (min-width: 980px){
	.menu{
	position:absolute; 
	background-color: rgba(0,0,0,0.7);
}